.project-features {
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.container-project-features-item {
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.project-img{
    width: 100%;
    object-fit: contain;
}
.project {
  display: flex;
  flex-direction: column;
  border-radius:0.5rem;
  border: 0.5px solid ;
}
.project-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.content-financial-goal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.financial-goal-container-progressbar{
    width: 100%;
}
.meta_project__progressbar{
    width: 100%;
}
.container-owner-project,.container-date-project{
    display: flex;
    align-items: center;

}
.owner-project,.date-project,.container-date-project{
    gap: 1rem;
}
.container-project-features-ver-proyectos{
    display: flex;
    justify-content: center;
}