.readytobeginning {
  background-color: #030213;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2,
  p {
    color: #ffff;
  }

  button {
    background-color: #eceef2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color:  #030213;
  }
}
