.readytobeginning{
    background-color:#030213 ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2,p{
        color: #FFFF;
    }

button{
    background-color: #ECEEF2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
}

