@import url('./fonts.css');


html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
     font-family: 'ProductSans', sans-serif;
}

p {
    color: #717182;
}

h1,
h2,
h3 {
    color: #0A0A0A;
}

/* main */
.main-content {
    padding: var(--spacing-lg);
    min-height: calc(100vh - 200px);
    /* Ajuste para que el footer quede abajo */
}

/* footer */
.main-footer {
    background-color: var(--grey-primary);
    color: var(--font-secondary);
    padding: var(--spacing-lg) var(--spacing-md);
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);
    flex-wrap: wrap;
    margin-bottom: var(--spacing-lg);
}

.footer-icons iconify-icon {
    color: var(--font-secondary);
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer-icons iconify-icon:hover {
    color: var(--btn-primary-bg);
}

.footer-text {
    font-size: 0.875rem;
    color: var(--font-secondary);
}